# local config
local.el

# files
*~
*#*
nil
bookmarks
.workspace
org-roam.db
.emacs.desktop
.emacs.desktop.lock
projectile-bookmarks.eld

# directories
tmp/*
elpy/*
.cache/*
transient/*
auto-save-list/*
url/cache/root/https/*

# repositories
elpa/*
straight/*